.main-chat__message{data: {message: {id: message.id}}}
  .main-chat__message-info
    = message.user.nickname
    .main-chat__message-data
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-chat__message-text
    - if message.text.present?
      %p.main-chat__text
        = message.text
    = image_tag message.image.url, class: 'main-chat__image' if message.image.present?   